.container-center {
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 300px;
  height: 345px;
  background-color: rgb(225, 251, 235);
  border-radius: 10px;
  border: 1.5px solid #288F65;
}

.nameInputBox {
  position: relative;
  width: 200px;
  height: 30px;
  margin-top:10px;
  margin-bottom: 11px;
  border-radius: 5px;
  outline: none;
  color: #006747;
  padding-left: 5px;
  font-size: 14px;
}

#input2 {
  background-color: rgb(222, 239, 229);
  border: 2px solid #006747;
  font-family: "sans-serif", consolas, monaco;
}
#input2:hover {
  background-color: rgb(198, 230, 211);
}
#input2:focus {
    outline: none;
    border: 2px solid #288F65;
}

::placeholder {
  color: #006747;
  font-weight: bold;
  opacity:0.5;
}

.submitButton2 {
    position: relative;
    width: 90px;
    height: 30px;
    font-family: "sans-serif", consolas, monaco;
    border: 2px solid #193D2F;
    border-radius: 8px;
    background-color:#006747;
    color: rgb(240,240,240);
    font-weight: bold;
    font-size: 14px;
}
.submitButton2:hover {
  background-color:#027d56;
  cursor:pointer;
}
.submitButton2:active {
  background-color:#027d56;
  top: 1px;
}
.submitButton2:focus {
  background-color:#027d56;
  outline: none;
}
#error {
    position: relative;
    z-index: 1;
    white-space: pre;
    margin-top:35px;
    margin-bottom: 25px;
    color: red;
}
#container {
    position: relative;
    grid-template-columns: 1fr;
    
}
#error-container {
  margin-top: 12px;
    position: fixed;
    text-align: right;
    left: 16%;
    top: 81px;
    grid-template-columns: 1fr;
}
.doneButton {
  position: relative;
  top: 300px;
  width: 90px;
  height: 35px;
  font-family: "sans-serif", consolas, monaco;
  font-weight: bold;
  border: 2px solid #193D2F;
  border-radius: 8px;
  background-color: rgb(222, 239, 229)
}
.doneButton:hover {
  background-color: rgb(202, 233, 215);
  cursor:pointer;
}
.doneButton:active {
  top: 301px;
  background-color: rgb(190, 224, 204);
}
.doneButton:focus {
  background-color: rgb(190, 224, 204);
  outline: none;
}

#text {
  font-family: "sans-serif", consolas, monaco;
  color:#193D2F;
}
@media (prefers-color-scheme: dark) {
  .nameInputBox {
    color: #193D2F;
  }
  .nameInputBox::placeholder {
      color: #193D2F;
      opacity: 0.7;
  }
  #input2 {
    background-color: rgb(155, 228, 198);
    color: #193D2F;
    border: 1.5px solid #193D2F;
  }
  #input2:hover {
    background-color: rgb(117, 195, 162);
    color: #265543;
  }
  #input2:focus {
    border: 1.5px solid #193D2F;
  }
  .container-center {
    background-color: #207b5e;
    border-radius: 10px;
    border: 1.5px solid rgb(13, 54, 38);
  }
  .submitButton2 {
    border: 2px solid #193D2F;
    background-color:rgb(155, 228, 198);
    color: #193D2F;
  }
  .submitButton2:hover {
    background-color: rgb(117, 195, 162);
    color: #265543;
  }
  .submitButton2:active {
    background-color: rgb(117, 195, 162);
    color: #265543;
    top: 1px;
  }
  .submitButton2:focus {
    background-color: rgb(117, 195, 162);
    color: #265543;
    outline: none;
  }
  #error {
    color: rgb(220, 61, 61);
  }
  .doneButton {
    border: 2px solid #193D2F;
    background-color: rgb(112, 201, 150);
  }
  .doneButton:hover {
    background-color: rgb(142, 224, 177);
  }
  .doneButton:active {
    top: 301px;
    background-color: rgb(142, 224, 177);
  }
  .doneButton:focus {
    background-color: rgb(142, 224, 177);
    outline: none;
  }
  #text {
    font-family: "sans-serif", consolas, monaco;
    color:#f2fffa;
  }
}
