:root {
  --button-background: linear-gradient(90deg, #60d1a3 0%, rgb(119, 204, 167) 50%, #6fd5a0 100%);
  --button-background-hover: linear-gradient(90deg, #4ac594 0%, rgb(80, 190, 143) 50%, #4cc184 100%);
  --button-background-active: linear-gradient(90deg, #4ac594 0%, rgb(80, 190, 143) 50%, #4cc184 100%);
  --button-text-color: black;
  --button-text-color-hover: black;
  --border-color: #193D2F;
  --background-color: #006747;
  --text-color: white;
  --header-shadow: rgb(25, 61, 29);
  --header-background: var(--background-color);
  --list-background: rgb(177, 222, 194);
  --list-border-color: #288F65;
  --list-opacity: 1;
  --page-text: black;
  --box-shadow-color: #01674f;
}
@media (prefers-color-scheme: dark) {
  :root {
    --button-background: linear-gradient(90deg, #19624b 0%, #136c51 50%, #0a6d4e 100%);
    --button-background-hover: linear-gradient(90deg, #1b8966 0%, #199872 50%, #0a8d63 100%);
    --button-background-active: linear-gradient(90deg, #146048 0%, #10654b 50%, #04563c 100%);
    --button-text-color: rgb(199, 239, 219);
    --button-text-color-hover: rgb(248, 255, 251);
    --text-color: rgb(243, 255, 242);
    --background-color:#006747;
    --border-color: rgb(9, 20, 11);
    --header-shadow: rgb(2, 51, 40);
    --header-background: rgb(9, 20, 11);
    --list-background: rgba(24, 75, 59, 0.9);
    --list-border-color: rgb(9, 20, 11);
    --list-opacity: 1;
    --page-text: var(--text-color);
    --box-shadow-color: #00110d;
  }
}
.App {
  text-align: center;
}
.Box {
  position: relative;
  width: 150px;
  height: 50px;
  background: var(--button-background);
  border: none;
  /*border: 1.5px solid var(--border-color);*/
  border-radius: 8px;
  box-shadow: 0 0 5px 0 var(--border-color);
  opacity: 1;
  font-family: "sans-serif", consolas, monaco;
  font-size: 15px;
  font-weight: bold;
  color: var(--button-text-color);
}
.Box:hover {
  background: var(--button-background-hover);
  cursor:pointer;
  color: var(--button-text-color-hover);
}
.Box:active {
  transform: translateY(2px);
  background: var(--button-background-active);
  outline: none;
}
.Box:focus {
  outline: none;
}
#logo {
  position: absolute;
  width: 35px;
  height: 45px;
  left: 20px;
  top: 15px;
}
.logo-button {
  position: absolute;
  width:35px;
  height: 45px;
  background-color: transparent;
  left: 20px;
  top: 15px;
  border: none;
  z-index:1;
  touch-action: none;
}
.logo-button:hover {
  cursor: pointer
}
.form2 {
  position: absolute;
}
.text {
  font-family: "sans-serif", consolas, monaco;
  color: var(--page-text)
}
.header {
  height: 75px;
  background-color: var(--header-background);
  box-shadow: 3px 4px 2px var(--header-shadow);
  color: var(--text-color);
  font-family: "sans-serif", consolas, monaco;
  font-size: 33px;
  font-weight: bold;
  margin-top: 0px;
  line-height: 75px;
}
.List {
  position: relative;
  width: 540px;
  height: 270px;
  background-color: var(--list-background);
  opacity: var(--list-opacity);
  border: none;
  box-shadow: 0 0 5px 0 var(--box-shadow-color);
  /*border: 1.5px solid var(--list-border-color);*/
  border-radius: 7px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
/* DARK MODE */


