/*
@media (prefers-color-scheme: dark) {
    ::placeholder {
      color: rgb(222, 255, 238);
    }
    .BoxInput {
        color: #006747;
    }
    .BoxInput::placeholder {
        color: #006747;
        opacity: 0.75;
    }

  }
  */