body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #9dcab2;
  background-image: url('images/lightmodelogo.png');
  background-repeat: no-repeat;
  background-position: 50% 80px;
  
}
code {
  font-family: Monaco, Consolas, 'sans-serif',
    monospace;
}

@media (prefers-color-scheme: dark) {
  body {
    
    background: #002219;
    background-image: url('images/darkmodelogo.png');
    background-repeat: no-repeat;
    background-position: 50% 80px;
  }
  ::placeholder {
    color: rgb(222, 255, 238);

  }
}
