.BetterTextField {
  width: 200px;
  height: 50px;
  min-width: 200px;
  min-height: 50px;
  background-color: rgb(246, 250, 255);
  /* no border color ??? */
  border-radius: 5px;
  color: #193D2F;
  font-family: "sans-serif", consolas, monaco;
  font-size: 20px;
  font-style: bold;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.BetterBox {
  z-index: 1;
  position: relative;
  width: 80px;
  height: 40x;
  min-width: 80px;
  min-height: 40px;
  background-color: #DEEFE5;
  border: 2px solid rgb(25, 61, 29);
  border-radius: 4px;
  color: rgb(25, 61, 29);
  font-family: "sans-serif", consolas, monaco;
  font-size: 18px;
  font-weight: bold;
  text-align:center;
  vertical-align: middle;
  outline: none;
  margin-bottom: 5px;
  margin-left: 10px;
}
.BetterBox:hover {
  background-color: #cceeda;
  color: rgb(32, 94, 40);
  cursor: pointer;
}
.BetterBox:active {
  top: 1px;
  background-color: #bfebd1;
  border-color: #288F65;
}
#adminToggle {
  position: absolute;
  right: 35px;
}
#otherh3 {
  color: rgb(25, 61, 29);
  font-family: "sans-serif", consolas, monaco;
  font-size: 25px;
  font-weight: bold;
  white-space: pre;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-top:5px;
}
#input2false {
  background-color: #DEEFE5;
  border: 2px solid rgb(25, 61, 29);
  color: rgb(25, 61, 29);
    
}
#input2false:hover {
  background-color: #cbecd9;
  border: 2px solid rgb(25, 61, 29);
}
  /* this is just testing */
  
#input2false:focus {
  background-color: #cbecd9;
  border: 2px solid #006747;
  outline: none;
}
#input2true {
  background-color: rgb(255, 230, 230);
  border: 2px solid rgb(255, 132, 132);
  color: rgb(30, 37, 77);
  outline: none;
}
#input2true:hover {
  border: 2px solid rgb(255, 132, 132);
  background-color: rgb(255, 230, 230);
}
  
.MachineBox { /* encases the machine image */
  position:relative;
  width: 100px;
  height: 100px;
  border: 7px solid rgb(25, 61, 29);
  margin-top: 11px;
  margin-bottom: 7.25px;
}
.MachineBoxTrue {
  position:relative;
  width: 100px;
  height: 100px;
  border: 18px solid transparent;
  margin-top:0px;
  margin-bottom: 0px;
}
.MachineBoxBorder-false {
  position: relative;
  width: 136px;
  height: 136px;
  background-color: transparent;
  align-items: center;
  justify-items: center;
}
.MachineBoxBorder {
  position: relative;
  width: 136px;
  height: 136px;
  background: repeating-linear-gradient(
    45deg,
  #fff41e,
  #fff41e 6px,
  #0d1910 12px,
  #0d1910 24px,
  #fff41e 30px,
  #fff41e 36px
);
  background-size: 400% 400%;
  animation: enabledMachine 5s linear infinite;
  align-items: center;
  justify-items: center;
}
@keyframes enabledMachine {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
  
}

#otherh3-2 { /* Machine Name Label next to switch*/
  position: relative;
  color: rgb(25, 31, 61);
  font-family: "sans-serif", consolas, monaco;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  overflow: visible;
  top: 10px;
}       
.container2 { /* container for the machines to be in a grid layout */
  position:relative;
  width: max-width;
  height: fit-content;
  margin: auto;
  display:grid;
  justify-content: center;
  grid-template-columns: 250px 250px;
  grid-area: machines;
}
.MachineBoxContainer {
  position: relative;
  width: 200px;
  height: 250px;
  margin: auto;
  display:block;
  align-items: center;
  justify-content: center;

}
.login-container {
  position: relative;
  width: 350px;
  height: 125px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  
}
.AdminToggle {
  position: absolute;
  z-index: 2;
  margin: auto;
  left: 11px;
  top: 11px;
  width: 114px;
  height: 114px;
  background-color: transparent;
  border: 7px solid red;
  outline: none;
}
.AdminToggle:hover {
  cursor:pointer;
}
.AdminToggleFalse {
  position: absolute;
  z-index:-1;
  left: 11px;
  top: 11px;
  width: 114px;
  height: 114px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor:not-allowed;
}
#tagged-out-false {
  background-color: transparent;
}
#tagged-out-true {
  z-index: 2;
  background-color: rgba(233, 95, 95, 0.7);
}
@media (min-width: 600px) {
  .container2 {
    position: relative;
    width: fit-content;
    grid-template-columns: 200px 200px 200px;
    margin: auto;
  }
}
@media (min-width: 1000px) { /* ipad pro portrait width is 730px */
  .container2 {
    position: relative;
    width: 700px;
    margin-right: 50px;
    grid-template-columns: 200px 200px 200px;
    top: -120px;
  }
}
@media (min-width: 1310px) { /* ipad pro landscape is 1194px */
  .container2 {
    position: relative;
    width: 1000px;
    grid-template-columns: 250px 250px 250px 250px;
    margin-right: 80px;
  }
  
}