.BetterTextField {
  padding-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-family: "sans-serif", consolas, monaco;
  font-style: bold;
  background-color: rgb(246, 250, 255);
  color: #193D2F;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  margin-left: 20px;
  margin-bottom: 10px;
  min-width: 200px;
  min-height: 50px;
}
.BetterBox {
  position: relative;
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: "sans-serif", consolas, monaco;
  text-align:center;
  color: rgb(25, 61, 29);
  background-color: #DEEFE5;
  width: 80px;
  height: 40x;
  vertical-align: middle;
  border: 2px solid rgb(25, 61, 29);
  outline: none;
  border-radius: 4px;
  min-width: 80px;
  min-height: 40px;
}
.BetterBox:hover {
  background-color: #cceeda;
  color: rgb(32, 94, 40);
  cursor: pointer;
}
.BetterBox:active {
  top: 1px;
  background-color: #bfebd1;
  border-color: #288F65;
}
#otherh3 {
  color: rgb(25, 61, 29);
  white-space: pre;
  margin-left: 20px;
  margin-bottom: 0px;
  font-size: 25px;
  font-family: "sans-serif", consolas, monaco;
  font-style: bold;
  margin-top:5px;
}
#input2false {
  background-color: #DEEFE5;
  border: 2px solid rgb(25, 61, 29);
  color: rgb(25, 61, 29);
    
}
#input2false:hover {
  border: 2px solid rgb(25, 61, 29);
  background-color: #cbecd9;
}
  /* this is just testing */
  
#input2false:focus {
  border: 2px solid #006747;
  background-color: #cbecd9;
  outline: none;
}
#input2true {
  background-color: rgb(255, 230, 230);
  border: 2px solid rgb(255, 132, 132);
  color: rgb(30, 37, 77);
  outline: none;
}
#input2true:hover {
  border: 2px solid rgb(255, 132, 132);
  background-color: rgb(255, 230, 230);
}
  
.MachineBox { /* encases the machine image */
  z-index: 0;
  position:relative;
  width: 100px;
  height: 100px;
  border: 7px solid rgb(25, 61, 29);
}
.MachineBoxTrue { /* If the machine is enabled */
  position:relative;
  width: 100px;
  height: 100px;
  border: 7px solid #288F65;
  margin: auto;
}
#otherh3-2 { /* Machine Name Label next to switch*/
  color: rgb(25, 31, 61);
  font-size: 20px;
  font-family: "sans-serif", consolas, monaco;
  font-weight: bold;
  text-align: center;
  
}       
  
.container2 { /* container for the machines to be in a grid layout */
  z-index: 1;
  position:relative;
  margin: auto;
  justify-content: center;
  width: max-width;
  height: fit-content;
  display:grid;
  grid-template-columns: 250px 250px;
  grid-area: machines;
}
.MachineBoxContainer {
  position: relative;
  display:block;
  width: 180px;
  height: 250px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.login-container {
  position: relative;
  z-index: 1;
  width: 350px;
  height: 125px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  
}
@media (min-width: 600px) {
  .container2 {
    position: relative;
    margin-right: 40px;
    width: fit-content;
    grid-template-columns: 200px 200px 200px;
    margin: auto;
  }
}
@media (min-width: 1000px) { /* ipad pro portrait width is 730px */
  .container2 {
    position: relative;
    top: -120px;
    margin-right: 40px;
    width: 700px;
    
    grid-template-columns: 200px 200px 200px;
  }
}
@media (min-width: 1310px) { /* ipad pro landscape is 1194px */
  .container2 {
    position: relative;
    width: 1000px;
    grid-template-columns: 250px 250px 250px 250px;
  }
}