
/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(214, 249, 217);
}
.test {
  color: rgb(12, 59, 14);
  font-family: "sans-serif", consolas, monaco;
}

@media (prefers-color-scheme: dark) {
  .test {
    color: rgb(229, 250, 231);
  }
  body {
    background: rgb(28, 44, 28);
  }
}*/
