:root {
  --scale: 0.88235;
  --space: 5px;
  --back: #006747;
  --menu-color: #006747;
  --text-color: rgb(243, 255, 242);
  --border-color: rgb(25, 61, 29);
  --burger-hover: rgb(229, 229, 229);

}

@media (prefers-color-scheme: dark) {
  :root {
    --back: rgb(9, 20, 11);
    --menu-color: #002e23;
    --border-color: rgb(9, 20, 11);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  visibility: hidden;
  transition: visibility .2s, height .2s;
  overflow: hidden;
  background: black;
  z-index: 1;
}

.burger-shower {
  position: absolute;
  left: 80px;
  top: 30px;
}

.burger-shower:hover {
  cursor: pointer;
}

#main-menu {
  display: block;
  height: 100px;
  width: 100px;
  background: var(--back);
  margin: 0px;
  z-index: 9;

}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

.menu-label2 {
  color: var(--text-color);
  font-family: 'sans-serif', consolas, monaco;
  font-size: 20px;
  text-align: left;
  padding-left: 12px;
}

.menu-label2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.menu-label {
  width: 40px;
  height: 40px;
  display: contents;
}

#hamburger-input {
  display: none;
}

.line {
  width: 37px;
  height: 5px;
  border-radius: 6px;
  margin-top: 7px;
  background-color: var(--line-color);

}

.line-container {
  position: absolute;
  width: 40px;
  height: 100%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  right: 0px;
  top: 0px;
  z-index: 1;
  --line-color: white;
}

.line-container:hover {
  --line-color: lightgray;
  cursor: pointer;
}

#hamburger-menu {
  touch-action: none;
  position: absolute;
  top: 18px;
  right: 20px;
  width: 50px;
  height: 40px;
  border: none;
  padding: 0px;
  margin: 0px;
  font-family: 'sans-serif', consolas, monaco;
  z-index: 9;
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0px;
  right: -250px;
  width: 200px;
  height: 100%;
  background-color: var(--menu-color);
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
  z-index: 9;
}

#hamburger-menu h3 {
  color: var(--text-color);
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: var(--text-color);
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked+#hamburger-menu #sidebar-menu {
  right: 0px;
  visibility: visible;
  box-shadow: 0px 0px 10px 3px var(--border-color);
}

#hamburger-input:checked~.overlay {
  visibility: visible;
  opacity: 0.4;
}


@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
  }

  #hamburger-menu {
    display: inline;
  }
}