:root {
    --eu-text-color: #193D2F;
    --eu-container-background: rgb(196, 238, 217);
    --eu-container-border: #288F65;
    --eu-input-background: rgb(233, 254, 241);
    --eu-input-text: rgb(25, 61, 29);
    --eu-button-background: #006747;
    --eu-placeholder: #006747;

    --eu-input-background-hover: rgb(198, 230, 211);
}
@media (prefers-color-scheme: dark) {
    :root {
        --eu-text-color: rgb(25, 61, 51);
        --eu-container-background: #123f31;
        --eu-container-border: #0d4233;
        --eu-input-background: rgb(56, 122, 93);
        --eu-input-text: white;
        --eu-button-background: #1b5845;

        --eu-input-background-hover: #34896a;
        --eu-placeholder: white;
    }
}
.editUserContainer { /* container that holds the checkboxes, user ID input, and t*/
    position: relative;
    width: 400px;
    height: 720px;
    background-color: var(--eu-container-background);
    border: 1.5px solid transparent;
    /*border: 1.5px solid var(--eu-container-border);*/
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px rgb(84, 128, 106);
    opacity: 0.92;
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
}

.BoxInput { /* Box used for the user ID input and the authID/authPassword */
    position: relative;
    width: 200px;
    height: 50px;
    background-color:var(--eu-input-background);
    border: none;
    /*border: 2px solid #006747;*/
    border-radius:8px;
    box-shadow: 0 0 4px 0 rgb(124, 173, 150);
    color: var(--eu-input-text);
    font-family: "sans-serif", consolas, monaco; 
    font-size: 18px;
    padding-left: 8px;
}
.BoxInput:hover {
    background-color: var(--eu-input-background-hover); 
}
.BoxInput:focus {
    outline: none;
}
#small-input {
    color: rgb(25, 61, 29);
    position: relative;
    width: 150px;
    height:30px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 8px;
}
#small-input:hover {
    background-color: var(--eu-input-background-hover);
}
#small-input2 {
    position: relative;
    width: 150px;
    height:30px;
    font-size: 14px;
    margin-bottom: 10px;
}
#small-input2:hover {
    background-color: var(--eu-input-background-hover);
}
#small-input::placeholder, #small-input2::placeholder, .BoxInput::placeholder {
    color: var(--eu-placeholder);
    font-weight: bold;
}
.container {
    position: relative;
    top: -10px;
    width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.BetterButton {
    position: relative;
    width: 70px;
    height: 30px;
    background-color: var(--eu-button-background);
    border: 2px solid rgb(25, 61, 29);
    border-radius: 5px;
    color: rgb(240,240,240);
    font-family: "sans-serif", consolas, monaco;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
}
#submit {
    margin-left: 0px;
    margin-top: 10px;
}
#biggerButton {
    position: relative;
    width: 100px;
    height: 50px;
    margin: auto;
    text-align: center;
    margin-bottom: 6px;
}
.BetterButton:hover {
    background-color: #047652;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.BetterButton:active {
    background-color: #047652;
    transform: translateY(1px);
}
.BetterButton:focus {
    outline: none;
}
#text3 {
    color: var(--mv-text-color);
    font-family: "sans-serif", consolas, monaco;
    font-size: 24px;
    padding-left: 15px;
}

.containerChecks {
    position: relative;
    display: contents;
    grid-template-columns: 1fr;
}

.topper {
    position: absolute;
}
#text2 {
    font-family: "sans-serif", consolas, monaco;
    color: var(--mv-text-color);
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    display: block;
}
.checks {
    padding: 0px;
    margin: 0px;
    height: 10px;
}
@media (min-width: 850px) {
    .container {
        position:relative;
        display: block;
        top: 50px;
        right: 34%;
        margin-left: 1fr;
        grid-template-columns: 1fr;
    }
    #small-input {
        margin-right: 0px;
    }
    .editUserContainer { /* container that holds the checkboxes, user ID input, and t*/
        top: -70px;
    }
}